/Heart Modeling.code-workspace
/heart-modeling.code-workspace
/yohannes_2d/venv/
/toy_python_model/u_8000t.npy
/toy_python_model/u_innerspiral_4000t.npy
/toy_python_model/u_spiral_8000t.npy
/toy_python_model/v_8000t.npy
/toy_python_model/v_spiral_8000t.npy
/toy_python_model/v_innerspiral_4000t.npy
